body{
    background-color:blueviolet;
}
p.citat{
    background-color:red;
    text-decoration:underline;
    text-align:left;
    font-familiy:verdana,arial,sans-sarif;
    font-weight:bold;
}
p.drugi{
    border-color:blue;
    border-width:thick;
    border-style:dotted;
}
#jahaci{
    display: inline;
}
#jahaci{
    color: #000;
    border-bottom: 2px solid #455372;
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 1px;
    padding-left: 30px;
}
#jahaci li a{
    color: #000;
}
