body{
    background-color:blueviolet;
}
p.citat{
    background-color:red;
    text-decoration:underline;
    text-align:left;
    font-familiy:verdana,arial,sans-sarif;
    font-weight:bold;
}
p.drugi{
    border-color:blue;
    border-width:thick;
    border-style:dotted;
}

ul li a, un li a:visited{
  display: block;
  text-decoration: none;
  margin: 1px;
  padding: 2px 0px 2px 5px;
  width: 100px;
  border-left-color: blue;
}
ul ul li a, ul ul li a:visited{
  display: block;
  text-decoration: none;
  margin: 1px 1px 1px 15px;
  padding: 2px 0px 2px 1px;
  witdh: 100px;
  border-left-color: blue;
}
ul, li{
  list-style: none;/*ka se točke mekneju*/
  margin: 0px;
  padding: 1px;
  font-witdh: bold;
  border-left-style: solid;
  border-witdh: 6px;
  background-color: yellow;
}
ul li a:hover{
  text-decoration: none;
  border-left-color: green;
  background-color: red;
}
ul ul li a:hover{
  text-decoration: none;
  border-left-color: green;
  background-color: red;
}
